.body {
    position: relative;
    width: 100%;
    height: 100vh;
}

.register {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 10% 11% 10%;
}
 
.form_container {
    max-width: 590px;
    width: 100%;
    background-color: #eaeaea;
    padding: 25px 30px;
    border-radius: 10px;
}

.form_container .reg_title {
    font-size: 35px;
    font-weight: bold;
    color: #5B36C2;
    margin: 10px 0;
}

.register .register_img img {
    animation: moveUpDown 3s linear infinite;
}

.form_container form .user_reg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form_container form .user_reg .input_box {
    width: calc(100% / 2 - 20px);
    margin: 20px 0 10px 0;
}

.input_box .reg_detail {
    font-size: 14px;
    font-weight: 500;
}

.form_container form .user_reg .input_box input,
.form_container form .user_reg .input_box select {
    height: 45px;
    width: 100%;
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    padding-left: 15px;
}

.form_container form .gender_details {
    padding: 20px 0;
}

.form_container form .gender_details .gender_title {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 15px;
}

.form_container form .gender_details .gender_box {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 15px;
    padding-bottom: 5px;
}



input[type=radio] {
    accent-color: rgb(10, 165, 124);
    width: 17px;
}

.btn_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 0;
}

.form_container form .Register_btn {
    width: 150px;
    height: 45px;
    border: 1px solid rgb(10, 165, 124);
    color: rgb(10, 165, 124);
    outline: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.form_container form .Register_btn:hover {
    color: #fff;
    background-color: rgb(10, 165, 124);
}

.register .register_img img {
    width: 450px;
}

.alert {
    color: red;
    font-size: 11px;
    font-weight: 500;
    margin-left: 12px;
    margin-top: 3px;
}

.show_otp_card {
    position: fixed;
    inset: 0;
    background-color: hsl(219, 28%, 16%, .7);
    padding: 10px;
    display: grid;
    place-items: center;
    transition: .4s;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;

}
.show {
    opacity: 1;
    visibility: visible;
}
.close {
    opacity: 0;
    visibility: hidden;
}


.otp_card{
    box-shadow: 0 10px 40px -20px black;
    background-color: #fffdfd;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    animation: showModel 0.5s ease-in-out forwards;
}

.otp_card_inputs {
    margin: 30px 0;
    display: grid;
    gap: 30px;
    justify-content: center;
}

.otp_card_inputs input {
    width: 42px !important;
    height: 56px;
    font-size: 35px;
    border-radius: 11px;
    border: 1px solid #eee;
    margin: 0 10px;
}
.otp_card_inputs input:focus {
    outline: 2px solid blueviolet;
    border-color: transparent;
}
.otp_card .verify_btn {
    background-color: #5B36C2;
    border: none;
    outline: none;
    padding: 15px 50px;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
    transition: .3s;
}

.otp_card .verify_btn:hover {

    opacity: .9;
}

.otp_card .verify_btn[disabled] {
    opacity: .6;
    cursor: default;
}

.resend_link {
    color: #5B36C2;
    border: none;
    background: none;
    cursor: pointer;
}

.status_msg {
    padding-bottom: 10px;
}
.close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background-color: #5B36C2;
    border: none;   
}
.close_btn:hover .close_before::before,
 .close_btn:hover .close_after::after {
    background-color: #eaeaea;
  }

.otp_card .close_btn .close_before::before {
    content: " ";
    display: block;
    font-weight: 900;
    transform: rotate(45deg);
    text-align: center;
    width: 27px;
    color: #ffffff;
    border: 1px solid #fff;
    transition: .3s;
}

.otp_card h1 {
    color: #5B36C2;
}



.otp_card .close_btn .close_after::after {
    content: " ";
    display: block;
    font-weight: 900;
    transform: rotate(-45deg);
    text-align: center;
    width: 27px;
    color: #ffffff;
    border: 1px solid #fff;
    transition: .3s;
}

.error_message {
    color: red;
}

.success_message {
    color: green;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 1011px) and (max-width: 1300px) {
    .register .register_img img {  
        padding-left: 80px;
        width: 430px;
    }
}

@media (max-width: 1010px)   {
    .register .register_img  {  
        display: none;
    }
    .form_container {
        margin: 0px auto; 
        max-width: 650px;
        width: 100%;
        background-color: #eaeaea;
        padding: 25px 30px;
        border-radius: 0px;
    }
}

@media (max-width: 765px) {
    .register-LOGO img {
        display: none;
    }

    .register {
        padding: 0px;
    }

    .form_container .reg_title {
        text-align: center;
    }

    .form_container form .user_reg {
        flex-direction: column;
        align-items: center;
    }
    .form_container form .user_reg .input_box {
        width: 100%;
    }
    .otp_card  {
        padding: 1rem;
        width: 328px;
    }

    .otp_card p {
        font-size: 14px;
    }

    .otp_card_inputs input {
        width: 29px !important;
        height: 42px;
        font-size: 20px;
    }
    .success_message {
        font-size: 14px;
    }

    .otp_card .verify_btn {
        border-radius: 10px;
        padding: 10px 50px;
        font-size: 15px;
    }
}


.select_level svg {
    color: #5B36C2;
    margin-bottom: 15px;
}

.select_level .css-1u9des2-indicatorSeparator {
    display: none;
}