.body {
    background: linear-gradient(120deg, #000 50%, #5D37C6);
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.workshop_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10% 10% 10%;
}

.workshop_container .section_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
}

.workshop_container .section_title .section_name h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

.workshop_container .section_title .section_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.workshop_container .section_title .section_btn .sec_btn_for_types{
    width: 170px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background: #fff;
    color: #1D275F;
    font-size: 15px;
    cursor: pointer;
}
.workshop_container .section_title .section_btn div img {
    padding-left: 25px;
}

.options {
    padding-top: 10px;
}
.options button {
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    width: fit-content;
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
    transition: .3s;
}

.options button:hover {
    background-color: #5D37C6;
    color: #fff;
}

.workshop_card,.workshop_card_title h1 {
    transition: .3s;
}

.workshop_card:hover {
    transform: translateY(-10px);
}

.workshop_card:hover .workshop_card_title h1 {
    color: #5D37C6;
}

.close {
    display: none;
}
.open {
    display: block;
}

.workshop_container .workshop_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

@media (max-width: 1250px) {
    .workshop_container .workshop_cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 880px) {
    .workshop_container .workshop_cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 650px) {
    .workshop_card {
        width: 355px !important;
    }
    .workshop_container .section_title .section_name h1 {
        font-size: 30px;
    }
}

.workshop_container  .workshop_card {   
    background: #fff;
    border-radius: 20px 20px 15px 15px ;
    /* padding: 10px; */
    width: 400px;
    overflow: hidden;
    position: relative;
}

.workshop_container .workshop_card .workshop_card_img img {
    width: 101%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
    max-width: 100%;
    max-height: 225px;
}

.workshop_container .workshop_card .workshop_card_content {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.workshop_container .workshop_card .workshop_card_content .workshop_date{
    text-align: center;
}

.workshop_container .workshop_card_content .workshop_date .month {
    color: #3D37F1;
    font-size: 15px;
    font-weight: 700;
}

.workshop_container .workshop_card_content .workshop_date .day {
    font-size: 40px;
    font-weight: bold;
}

.workshop_container .workshop_card_content .workshop_card_title h1 {
    font-size: 20px;
    margin-bottom: 15px;
}

.workshop_container .workshop_card_content .workshop_card_title p {
    color: #6A6A6A;
    margin-bottom: 10px;
}

.workshop_container .sec_btn_For_More {
    margin-top: 100px;
}

.workshop_container .sec_btn_For_More button {
    width: 170px;
    padding: 18px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #fff;
    font-size: 15px;    
    cursor: pointer;
    transition: .3s;
}
.workshop_container .sec_btn_For_More button:hover {
    background-color: #5D37C6; 
    border: 1px solid #5D37C6; 
}

.no_data {
    color: #fff;
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}