

.workshop_details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 90px 8% 10% 8%;
}

.workshop_details .Img_section .col-1 {
    width: 100%;
}
.workshop_details .Img_section .col-2 {
    width: 100%;
    display: none;
}
.workshop_details .Img_section .col-1 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.workshop_details .ws_sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.main_details {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
    font-size: 13px;
    margin-bottom: 26px;
    background-color: #a9a9a975;
    padding: 12px;
    border-radius: 6px;
}

.main_details p {
    color: #11CD90;
}

.main_details p span {
    color: #fff;
}

.ws_sections .ws_section_tob5 {
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;
    width: 400px;
    height: 350px;
    margin-top: 30px;
    position: relative;
}

.ws_sections .ws_section_tob5 .empty_tob5_data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    text-align: center;
    font-size: 14px;
    font-family: cursive;
}

.ws_sections .ws_section_tob5 .tob5_title {
    text-align: center;
    color: #11CD90;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 25px;
}

.ws_sections .ws_section_tob5 .first_3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 25px;
}

.ws_sections .ws_section_tob5 .last_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-align: center;
    padding-bottom: 25px;
}

.ws_sections .ws_section_tob5 .img_card img {
    filter: drop-shadow(0px 0px 4px);
    width: 80px;
}

.ws_sections .ws_section_tob5 .img_card .name {
    font-size: 12px;
    font-weight: bold;
    margin-top: 4px;
}

.img_one {
    width: 70px;
}



.ws_sections .ws_section_details .ws_section_title {
    margin-bottom: 40px;
    width: 90%;
}

.ws_sections .ws_section_details .ws_section_title h1 {
    color: #fff;
    font-size: 45px;
    padding-bottom: 15px;
    font-weight: bold;
}

.ws_sections .ws_section_details .ws_section_title p {
    color: rgb(177, 176, 176);
    font-size: 19px;
}

.ws_sections .ws_details_section span {
    font-size: 30px;
    color: #11CD90;
    font-weight: 700;
}

.ws_sections .ws_details_section .instructors {
    width: 100%;
    transition: 0.3s;
}

.ws_sections .ws_details_section .instructors .instructors_title {
    margin-bottom: 20px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 13px;
}

.ws_sections .ws_details_section .instructors .instructors_title .vec_down {
    cursor: pointer;
    transition: .3s;
}



.ws_details_section .instructors .instructors_title h1 {
    color: #fff;
    font-size: 25px;
}

.ws_details_section .instructors .instructors_cards {
    display: none;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    border-radius: 3px;
    margin-left: 50px;
}

.ws_details_section .instructors .active {
    display: flex;
    transition: .3s;
}

.ws_details_section .instructors .instructors_cards .instructors_card {
    background-color: #a9a9a975;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
}

.ws_details_section .instructors .instructors_cards .instructors_card img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #5B36C2;
}

.ws_details_section .instructors .instructors_cards .instructors_card .instructor_name {
    color: #fff;
    font-size: 17px;
}

.ws_details_section .instructors .instructors_cards .instructors_card button {
    border: none;
    outline: none;
    background-color: transparent;
    color: #11CD90;
    padding-top: 20px;
    cursor: pointer;
    font-size: 12px;
}

.Register_WS {
    margin-top: 70px;
}
.Register_WS button {
    padding: 13px;
    width: 159px;
    font-size: 18px;
    border: 1px solid #5D37C6;
}

.btn_click {
    background-color: transparent;
    outline: none;
    border: none;
}

.ws_details_section .content_card {
    background-color: #a9a9a975;
    width: 650px;
    padding: 15px;
}

.ws_details_section .content_card .Session .num_of_se  {
    color: #11CD90;
    font-size: 25px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.ws_details_section .content_card .Session .Session_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.ws_details_section .content_card .Session .Session_details p {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 15px;
}
.ws_details_section .content_card .Session .Session_details p img {
    width: 5px;
}

.ws_details_section .content_card .last_session {
    margin-bottom: 40px;
}


@media (max-width: 760px) {
    .ws_details_section .content_card {
        width: 300px;
        border-radius: 5px;
    }
    .ws_details_section .content_card .Session .Session_details {
        grid-template-columns: 1fr;
    }
    .ws_details_section .instructors .instructors_cards {
        margin-left: 0px;
    }
    .ws_sections {
        flex-direction: column;
    }
    .ws_section_tob5  {
        margin: 20px auto;
        width: 310px !important;
        height: 310px !important;
    }
    .ws_sections .ws_section_details .ws_section_title h1 {
        font-size: 35px;
    }
    .main_details {
        grid-template-columns: 1fr;
    }

    .ws_sections .ws_section_tob5 .img_card .name {
        font-size: 11px;
    }

    .ws_sections .ws_section_tob5 .img_card img {
        width: 65px;
    }
}

@media (max-width: 450px) {
    .Register_WS {
        margin-top: 52px;
        display: flex;
        justify-content: center;
    }

    .Register_WS button {
        padding: 15px;
        width: 243px;
    }

}

