.About {
    background: linear-gradient(120deg, #222128 50%, #5D37C6);
}


.About .about_txt {
    font-size: 20px;
    color: #FFFFFF;
    max-width: 1000px;
    text-align: center;
    margin: 0px auto;
    width: 724px;
    line-height: 1.4;
    padding: 54px 20px 190px 20px;
}