/* .title {
    text-align: center;
    /* margin: 70px 0 30px; */
    padding: 10px;
    background: linear-gradient(to right, #222128 50%, #5D37C6);
}

.title h1 {
    font-size: 60px;
    font-weight: bold;
    color: #F2F0FE;
    margin-bottom: 7px;
}

.title p {
    font-size: 20px;
    /* color: #ffffff55; */
} */