.Home_page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: auto;
    max-width: 100%;
    background: radial-gradient(circle at 125% 83%, rgba(104, 60, 229, 1) 1%, rgba(0, 0, 0, 1) 49%, rgba(0, 0, 0, 1) 100%);
}

.Home_page img{
    width: 40%;
    height: auto;
}

.txt {
    padding-left: 10%;
}

.txt h1 {
    font-size: 80px;
    color: #f2f0fe69;
    margin-bottom: 20px;
}

.txt p {
    color: #ffffffb5;
    font-size: 18px;
    margin-bottom: 40px;
}

@media (max-width: 1145px) {
    .txt h1 {
        font-size: 65px;
    }
    .txt p {
        font-size: 16px;
    }   
    .btn {
        width: 225px;
        font-size: 20px;
    }
}
@media (max-width: 1000px) {
    .txt {
        padding-left: 70px;
    }
    .txt h1 {
        font-size: 50px;
        color: #ffffff54;
    }
    .txt p {
        font-size: 13px;
        padding-bottom: 100px;
    }   
    .btn {
        width: 200px;
        font-size: 15px;
    }
}

@media (max-width: 900px) {
    .Home_page {
        height: 91vh;
        background: linear-gradient(117deg, #000 44%, #5D37C6);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .Home_page img {
        display: none;
    }
    .txt {
        text-align: center;
        margin: 5px auto;
        padding-left: 7px;
    }
    .btn {
        width: 150px;
        font-size: 12px;
        position: absolute;
        bottom: 48px;
        left: 74px;
    }

}

@media (max-width: 850px) {
    .txt h1 {
        font-size: 65px;
    }
    .txt p {
        font-size: 13px;
    }
}

@media (max-width: 550px) {
    .txt h1 {
        font-size: 41px;
    }
    .txt p {
        font-size: 10px;
    }
}