.contact {
    background: linear-gradient(64deg, #1A191F 28%, #5D37C6 76%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 145px 0;
    
}

.title,.contact_form {
    flex-basis: 48%;
}

.contact_form form{
    background-color: #f1f0f0;
    padding: 15px;
    width: 90%;
    border-radius: 10px;
}

.contact_form form input, .contact_form form textarea {
    display: block;
    width: 100%;
    background-color: #F8F8F8;
    padding: 15px;
    margin: 5px 0 15px 0;
    outline: none;
    border: none;
    border-radius: 5px;
}

.contact_form .name_form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact_form .name_form .row {
    flex-basis: 48%;
}


.contact_form h2 {
    font-size: 35px;
    font-weight: bold;
    margin: 15px;
}

.contact_form label{
    font-size: 13px;
    font-weight: bold;
}

textarea {
    resize: none;
}

.contact_form .sub_form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 22px;
}

.contact_form .sub_form button {
    width: 100%;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    color: #f1f0f0;
    background-color: #6139D0;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s;
}
.contact_form .sub_form button:hover {
    opacity: 0.8;
}

.progress {
    color: rgb(3, 174, 3);
}

@media(max-width: 768px) {
    .contact {
        background: linear-gradient(117deg, #222128 44%, #5D37C6);
        flex-direction: column;
        padding-top: 5px;
    }
    .contact_form form {
        width: 96%;
        margin: 41px 0 24px 7px;
        padding: 10px;
    }
    .title p {
        font-size: 19px;
    }
}   