.user_body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(120deg, #000 50%, #5D37C6);
}

.UserPage {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 100px 3% 0% 12%;
    position: relative;
}

.UserPage .userInfo {
    display: flex;
    gap: 60px;
}

.UserPage .userInfo .user_img {
    text-align: center;
    position: relative;
}

.UserPage .userInfo .user_img > img {
    width: 300px;
    object-fit: cover;
    border-radius: 25px;
    
    filter: drop-shadow(0px 0px 10px #5B36C2);
}

.change_img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.UserPage .userInfo .user_img .user_name {
    color: #fff;
    padding: 20px 0;
}

.UserPage .userInfo .user_img .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* cursor: pointer; */
    position: relative;
}

.userInfo .user_img .icons img {
    cursor: pointer;
}

.userInfo .icons .notify_WS,
.userInfo .icons .notify_E{
    position: absolute;

    top: -6px;
    background-color: #da1414;
    color: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 11px;
}

.userInfo .icons .notify_WS {
    left: 114px;
}

.userInfo .icons .notify_E {
    left: 190px;
}


.UserPage .userInfo .user_details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
}

.UserPage .userInfo .user_details  .detail_sec {
    padding-bottom: 20px;
    color: #11CD90;
}

.UserPage .userInfo .user_details .info_sec {
    color: #838383;
    font-size: 16px;
    padding-bottom: 5px;
}

.UserPage .userInfo .user_details .user_data {
    color: #fff;
    font-size: 17px;
    padding-bottom: 20px;
}


.UserPage .edit_sec .lamp_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 74px;
}

.UserPage .edit_sec .lamp_img .lamb {
    width: 95px;
}

.Light {
    width: 335px;
    margin-right: 8px;
    transition: 0.3s;
}

.UserPage .edit_sec button {
    position: absolute;
    bottom: 50px;
    right: 120px;
}

.userEdit_container,
.registerSection_container {
    /* width: 50%; */
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    animation: showModel 0.5s ease-in-out forwards;
}
.backG {
    background-color: hsl(219, 28%, 16%, .7);
    width: 100%;
    height: 100%;
}

.edit_form {
    max-width: 650px;
    width: 570px;
    border-radius: 10px;
}

.registerSec_card {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 20px 10px;
    align-items: center;
    
}
.UserRegisterData  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.UserRegisterData img {
    max-width: 60px;
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}
.UserRegisterData .WS_title {
    font-size: 13px;
    max-width: 80%;
    font-weight: 300;
}

.UserRegisterData .WS_pk {
    margin: 5px 0;
}

.registerSec_card .remove {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #da1414;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    outline: none;
    border: none;
}

.WS_details .WS_status {
    font-size: 14px;
    font-weight: 500;   
    display: flex;
}

.WS_details .WS_status span {
    color: #565657;
    margin-left: 5px;
    font-size: 13px;
}

.WS_details .WS_status span.accept {
    color: #0eb17e;
}


.gender_details {
    margin-left: 5px;
}

.gender_title {
    color: #5B36C2;
}
.gender_box {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.edit_form .edit_title {
    margin: 20px 0;
    font-size: 25px;
    text-align: center;
}

.update_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.update_container .user_input {
    width: calc(100% / 2 - 20px);
    margin: 30px 10px 10px 10px;
}

.close_img {
    width: 20px;
}

.gender_details input[type=radio] {
    accent-color: #5B36C2;
    width: 17px;
}

 .user_input .input_title {
    font-size: 16px;
    font-weight: 500;
    color: #5B36C2;
} 

 .user_input input {
    height: 45px;
    width: 100%;
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: #eee;
    border-radius: 10px;
    padding-left: 15px;
    position: relative;
}

.save_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}

.save_container .Save_btn {
    width: 185px;
    height: 45px;
    border: 1px solid #5B36C2;
    color: #5B36C2;
    outline: none;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    background-color: #fff;
    margin-top: 17px;
    margin-left: 226px;
    margin-bottom: 20px;
}

.save_container .Save_btn:hover {
    background-color: #5B36C2;
    color: #fff;
}


@media (max-width: 1200px) {
    .lamp_img {
        display: none !important;
    }
}

@media (max-width: 400px) {
    .lamp_img {
        display: none !important;
    }
    .UserPage {
        height: -1vh !important; 
    }
    .UserPage .userInfo {
        flex-direction: column;
        gap: 10px;
    }
    .contact_details {
        margin-bottom: 100px;
    }
    .UserPage .edit_sec button {
        bottom: 24px;
        left: 94px;
        width: 200px;
        padding: 17px;
    }
    .UserPage .userInfo .user_details {
        align-items: normal !important;
        gap: 15px;
    }
}

@media (max-width: 764px) {
    .UserPage .userInfo {
        flex-direction: column;
    }
    .edit_form {
        width: 345px;
    }
    .save_container .Save_btn {
        margin-left: 55px;
        width: 188px;

    }

    .registerSec_card {
        width: 350px;
    }
    .UserRegisterData img {
        max-width: 108px;
    }

    .UserPage .userInfo .user_img .icons {
        margin-bottom: 20px;
    }

    .registerSec_card .remove {
        width: 35px;
    }

    .UserPage .userInfo .user_details .detail_sec {
        font-size: 22px;
    }
}




.options_select {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 40px 0 20px 0;
    transition: 0.3s;

}

.options_select button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 15px;
    transition:  0.3s;
    max-width: 160px;
    width: 100%;
}

.options_select button.active {
    color: #5D37C6;
    border-bottom: 1px solid #5D37C6;
    padding: 10px;
    border-radius: 10px;
    width: 100%;

}

.options_select button:hover {
    background-color: #5D37C6;
    color: #fff;
    width: 100%;
    border-radius: 10px;
}

.Password_Sec .user_input {
    margin: 20px 0;
}

.Password_Sec .save_container .Save_btn{
    width: 100%;
    margin-left: 0%;
}

.Password_Sec .forget_Section {
    text-align: center;
    font-size: 14px;
}

.Password_Sec .forget_Section a {
    color: #5D37C6;
}
.temp_form {
    display: none;
}

.status-msg span {
    margin-left: 15px !important;
}



.registerSection_container .model_title {
    text-align: center;
    margin: 10px 0;
    color: #5D37C6;
}