nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 22px;
    width: 100%;
    background-color: #191919;
    position: relative;
}

nav .logo {
    width: 62px;
}

ul li {
    display: inline-block;
    margin: 0 20px;
}

ul li a {
    color: #fff;
    transition: .3s;
    padding: 5px 7px;
    border-radius: 10px;
}

ul li a:hover {
    background-color: #6441CD;
}

nav .login_btn {
    outline: none;
    border: 1px solid #6139D0;
    background-color: #191919;
    color: #fff;
    padding: 15px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 120px;
    cursor: pointer;
    transition: .3s;
}

nav .login_btn:hover {
    background-color: #6139D0;
    color: #fff;
}

nav .login_btn .user_img {
    width: 26px;
    margin-left: 10px;
}

.logout_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.logout {
    padding: 15px !important;
}

.user-page {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #6139D0;
    text-align: center;  
    display: flex;
    align-items: center;
    justify-content: center;  
    transition: .3s;
}

.user-page:hover {
    opacity: 0.8;
    background-color: #221645;
}

@media (max-width: 768px) {
    nav {
        justify-content: space-between;
    }
    .navLinks {
        display: none;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }
    .navLinks .show_nav li{
        display: block;
    }
}

svg {
    cursor: pointer;
}