footer {
    background-color: #101010;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 1rem;
    padding: 90px 20px;
    position: relative;
}

footer h1 {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
}

footer h1 span {
    color: #6139D0;
}

.footer_content h4 {
    color: #6139D0;
    padding-bottom: 10px;
}

.footer_content ul {
    display: flex;
    flex-direction: column;
}

.footer_content li {
    list-style: none;
    color: #fff;
    margin-bottom: 10px;
    transition: 0.3s;
}

.footer_content ul li {
    margin: 5px 0;
}

.footer_content  li:hover {
    transform: translate(3px,-2px);
}

footer .footer_content ul li a {
    padding: 0;
}

footer .footer_content ul li a:hover {
    background-color: transparent ;
}

.copyRight {
    color: #92929D;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 10px;
}

@media(max-width: 768px) {
    footer {
        grid-template-columns: repeat(auto-fit, minmax(96px, auto));
        gap: 2rem;
        padding: 20px 0px;
    }
     footer h1 {
        font-size: 40px;
     }
}