/* Global Variables */

/* 
==============
Table Content
==============
1. Reset CSS styles
2. Class of buttons
3. Class of titles
4. Scroll Bar Style
5. Response styling of logo 
6. Show/Close Classes 
7. Keyframes and animations of box models
8. on/off classes for light img
*/


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    min-height: 100%; 
    height: 100%;  
}

body {
    font-family: "DM Sans", sans-serif;
    position: relative;
    min-height: 100vh; 
    height: 100%;  
}

a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
    /* transition: .3s; */
}

ul li {
    list-style: none;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.btn {
    width: 195px;
    background-color: #F8F8F8;
    color: #5F37C9;
    border-radius: 10px;
    padding: 12px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .4s;
}


.btn:hover {
    background-color: #5F37C9;
    color: #F8F8F8;
    border: none;
    outline: none;
    transition: .4s;
}


.btn-op {
    color: #fff;    
    text-align: center;
    border-radius: 10px;
    padding: 11px 0 14px 0;
    width: 175px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #5D37C6;
    border: 1px solid #5D37C6;
    outline: none;
    transition: 0.4s;
}

.btn-op.more {
    background-color: #fff;
    color: #5D37C6;
    border: 1px solid #5D37C6;
}

.btn-op.disabled {
    background-color: #5d37c6a7;
    outline: none;
    border: none;
    color: #fff;
    cursor: not-allowed;
}

.btn-op.disabled:hover {
    background-color: #5d37c6a7;
    color: #fff;
}

.btn-op.more:hover {
    background-color: #5D37C6;
    color: #fff;
    border: 1px solid #5D37C6;
}


.btn-op.event {
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 0 14px 0;
    margin: 15px auto;
}

.btn-op.registered.ev {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
} 

.btn-op:hover {
    color: #5D37C6;
    background-color: #fff;
}

.title {
    width: 100%;
    text-align: center;
    padding-top: 60px  ;
}
.title p {
    text-align: center;
    color: #ffffffc4;
    line-height: 1.5;
}

.title h1 {
    font-size: 50px;
    font-weight: bold;
    color: #F2F0FE;
    margin-bottom: 7px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #191919;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #5D37C6, #5f37ce);
    border-radius: 8px;
}

.logoLayout {
    position: absolute;
    top: 17px;
    left: 70px;
    z-index: 1000;
}

@media (max-width: 768px) {
    .logoLayout {
        left: 20px;
    }
    .title h1 {
        font-size: 33px;
    }
}

.logoLayout img {
    width: 50px;
    border-radius: 50%;
}

.show {
    opacity: 1;
    visibility: visible;
}
.close {
    opacity: 0;
    visibility: hidden;
}

.input_container {
    position: relative;
}

.hide_show {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-25%);
    cursor: pointer;
}

.hide_show svg {
    color: #5F37C9;
  }


  @keyframes moveUpDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
  }


  /* Uses in userPage */

  @keyframes showModel {
    0% {
        transform:scale(0);
    }
    60%{
        transform:scale(1.2);
    }
    100% {
        transform:scale(1);
    }
  }

  .dot-flashing {
    position: relative;
    width: 4px;
    height: 4px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 0.7s infinite linear alternate;
    animation-delay: 0.5s;
    display: inline-block;
  }
  .dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot-flashing::before, .dot-flashing::after {
    width: 4px;
    height: 4px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 0.7s infinite alternate;
   
  }

  .dot-flashing::before {
    left: -11px;
    animation-delay: 0s;
  }
  .dot-flashing::after {
    left: 11px;
    animation-delay: 1s;
  }
  
  @keyframes dot-flashing {
    0% {
      background-color: #9880ff;
    }
    50%, 100% {
      background-color: rgba(152, 128, 255, 0.2);
    }
  }


.off {
    opacity: 0;
    visibility: hidden;
}

.on {
    opacity: 1;
}

.notValidData {
    margin: 5px auto;
    color: red;
    font-size: 14px;
}

.noDataMessage {
    padding: 40px;
    font-size: 22px;
    color: #5D37C6;
}

.bk {
    position: fixed;
    inset: 0;
    background-color: hsl(219, 28%, 16%, .4);
    padding: 10px;
    display: grid;
    place-items: center;
    transition: .4s;
    z-index: 100;
    opacity: 1;
    visibility: hidden;
}

/* Pagination Circles */
.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
  }
  
  .circle.active {
    background-color: #5D37C6;
  }

  .input_box input[type="file"] {
    padding: 10px;
    cursor: pointer;
  }


  