@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    min-height: 100%; /* Ensures at least viewport height */
    height: 100%;  
}

body {
    font-family: "DM Sans", sans-serif;
    position: relative;
    min-height: 100vh; /* Ensures at least viewport height */
    height: 100%;  
}


a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
    /* transition: .3s; */
}

ul li {
    list-style: none;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

 .btn {
    width: 250px;
    background-color: #F8F8F8;
    color: #5F37C9;
    border-radius: 10px;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .4s;
}



.btn-op {
    color: #000;
    text-align: center;
    border-radius: 10px;
    padding: 11px 0 14px 0;
    width: 175px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #F8F8F8;
    border: none;
    outline: none;
    transition: 0.4s;
}

.btn-op.event {
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    margin-bottom: 15px;
    background-color: #f0eeee;
}

.btn-op.registered.ev {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
} 

.btn-op:hover , .btn:hover {
    color: #FFF;
    background-color: #5F37C9;
}

.title {
    width: 100%;
    text-align: center;
    padding-top: 60px  ;
}
.title p {
    text-align: center;
    color: #ffffff49;
    line-height: 1.5;
}

.title h1 {
    font-size: 50px;
    font-weight: bold;
    color: #F2F0FE;
    margin-bottom: 7px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #191919;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #5D37C6, #5f37ce);
    border-radius: 8px;
}

.logoLayout {
    position: absolute;
    top: 17px;
    left: 70px;
    z-index: 1000;
}

@media (max-width: 768px) {
    .logoLayout {
        left: 20px;
    }
}

.logoLayout img {
    width: 55px;
}

.show {
    opacity: 1;
    visibility: visible;
}
.close {
    opacity: 0;
    visibility: hidden;
}

.input_container {
    position: relative;
}

.hide_show {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-25%);
    cursor: pointer;
}

.hide_show svg {
    color: #5F37C9;
  }

  @keyframes showModel {
    0% {
        transform:scale(0);
    }
    60%{
        transform:scale(1.2);
    }
    100% {
        transform:scale(1);
    }
  }

  .dot-flashing {
    position: relative;
    width: 4px;
    height: 4px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 0.7s infinite linear alternate;
    animation-delay: 0.5s;
    display: inline-block;
  }
  .dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot-flashing::before {
    left: -11px;
    width: 4px;
    height: 4px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 0.7s infinite alternate;
    animation-delay: 0s;
  }
  .dot-flashing::after {
    left: 11px;
    width: 4px;
    height: 4px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 0.7s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dot-flashing {
    0% {
      background-color: #9880ff;
    }
    50%, 100% {
      background-color: rgba(152, 128, 255, 0.2);
    }
  }

  /*userPage*/
.off {
    opacity: 0;
}

.on {
    opacity: 1;
}

.notValidData {
    margin: 5px auto;
    color: red;
    font-size: 14px;
}

.noDataMessage {
    padding: 40px;
    font-size: 22px;
    color: #5D37C6;
}

.bk {
    position: fixed;
    inset: 0;
    background-color: hsl(219, 28%, 16%, .4);
    padding: 10px;
    display: grid;
    place-items: center;
    transition: .4s;
    z-index: 100;
    opacity: 1;
    visibility: hidden;
}