.event_form {
    padding: 195px 3% 10% 10%;
}
.spacialEventsImg {
    display: flex;
    align-items: center;
}

@media (max-width: 765px) {
    .form_container form .user_reg {
        align-items: normal;
    }
    .event_form {
        padding: 90px 1% 10% 2%;
    }
}

.TEST {
    padding: 10px 0 !important;
}