.Sponsors {
    width: 100%;
    background: linear-gradient(120deg, #222128 30%, #5D37C6);
    text-align: center;
}

.Sponsors h1 {
    font-size: 50px;
    color: #F2F0FE;
    padding: 30px 0;
}

.Sponsors img {
    margin: 5px 30px;
    width: 65px;
    padding-bottom: 45px;
}