.workshop {
    background: linear-gradient(120deg, #1A191F 30%, #5D37C6 77%);
}

.cards_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.workS_card {
    width: 345px;
    height:  430px;
    background-color: #f0f0f0;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    margin: 20px;
    position: relative;
    transition: 0.3s;
}

.workS_card:hover {
    transform: translateY(-15px);
}

.workS_card:hover .content h2 {
    color: #5D37C6;
}

.workS_card .workS_date {
    position: absolute;
    background-color: #fff;
    color: #000;
    padding: 5px;
    border-radius: 10px;
    top: 6px;
    left: 10px;
    font-size: 9px;
    font-weight: bold;

}

.workS_card img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    width: 101%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    max-width: 100%;
    max-height: 250px;
}

.content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h2 {
    font-size: 25px;
    margin-bottom: 51px;
    transition: .3s;
}

.content button {
    padding: 14px 0 20px 0;
    width: 200px;
}

.workshop .btn_div {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 40px;
}
@media(max-width: 768px) {
    .workshop {
        background: linear-gradient(72deg, #222128 58%, #5D37C6);
    }
}